# https://www.ibm.com/docs/en/ztpf/2020?topic=gssccr-configuration-file-generating-self-signed-certificates-certificate-requests

[req]
days						= 3600
serial						= 1

distinguished_name			= req_distinguished_name
req_extensions          	= v3_req
x509_extensions				= v3_ca

[req_distinguished_name]
countryName					= Country Name (2 letter code)
countryName_default			= KR
countryName_min				= 2
countryName_max				= 2

stateOrProvinceName			= State or Province Name (full name)
stateOrProvinceName_default	= Seoul

localityName				= Locality Name (eg, city)
localityName_default		= Seoul

organizationName			= Organization Name (eg, company)
organizationName_default	= ROOTCA

organizationalUnitName		= Organizational Unit Name (eg, section)
organizationalUnitName_default	= ROOTCA_Division

commonName					= Common Name (that is, server FQDN or YOUR name)
commonName_default			= rootca.test.com
commonName_max				= 64

emailAddress				= rootca@test.com
emailAddress_max			= 64


[v3_req]
basicConstraints       		= CA:TRUE
keyUsage               		= digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment, keyAgreement, keyCertSign


[v3_ca]
basicConstraints       		= CA:TRUE
keyUsage               		= digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment, keyAgreement, keyCertSign
subjectKeyIdentifier   		= hash
authorityKeyIdentifier 		= keyid:always,issuer:always
subjectAltName         		= IP:192.168.0.1
issuerAltName          		= issuer:copy
